<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <!-- by 李可 -->
        拷贝深层次dom到frag的方式
    </title>
</head>
<body>
    <ul id="ul"><li><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">4</a></li><li><a href="">5</a></li></ul>
    <script>
        /*
        // function recursionFrag(frag){
        //     if(frag.childNodes.length===0){
        //         return frag;
        //     }

        //     for(let childFrag of frag.childNodes){
        //         recursionFrag(childFrag)
        //     }
        // }
        function wholeCopy(){
            const fragment = document.createDocumentFragment();
            const ul = document.querySelector('#ul')
            fragment.appendChild(ul);//appendChild会把ul(页面上先dom删除掉)
            //单独对没一个节点 做处理(删除属性，改变属性名啊..)
            // for(let frag of fragment.childNodes){
            //     frag
            // }
            document.body.appendChild(fragment)
        }
        wholeCopy()
        function innerHtmlCopy(){
            const fragment = document.createDocumentFragment();
            const ul = document.querySelector('#ul')
            fragment.textContent=ul.innerHTML;
            // fragment.innerHTML=ul.innerHTML;没有innerHmtl
            document.body.appendChild(fragment)
        }
        innerHtmlCopy()
*/

// for(let [inx,node] of $0.childNodes.entries()){
// 	console.log(inx,node)
// 	}

        /*
        https://developer.mozilla.org/zh-CN/docs/Web/API/Node/appendChild

        如果被插入的节点已经存在于当前文档的文档树中,则那个节点会首先从原先的位置移除,然后再插入到新的位置.

        如果你需要保留这个子节点在原先位置的显示,则你需要先用Node.cloneNode方法复制出一个节点的副本,然后在插入到新位置.

        这个方法只能将某个子节点插入到同一个文档的其他位置,如果你想跨文档插入,你需要先调用document.importNode方法.

        first=node.firstChild 仅赋值语句 要返回当前的值  默认有个return
        */

        function fisrtChildrenChange(node=document.querySelector('#ul')){
            const fragment = document.createDocumentFragment(),
                first;
            console.log(first=node.firstChild)
            while(first=node.firstChild){
                console.log(node.firstChild.innerText);
                debugger
                fragment.appendChild(node.firstChild)
            }
            document.querySelector('#ul').appendChild(fragment)
        }

        fisrtChildrenChange()

    </script>
</body>
</html>