<!DOCTYPE html>
<html>

<head>
	<title>Todo</title>
	<meta charset="utf-8">
</head>

<body>
	<!-- <input u-model="a.b.c.d" /><input u-model="a.b.c.d" /><input u-model="a.b.m" /> <button @click="fn">click</button>-->
	<!-- <input u-model="a.b.c" /> -->
	<!-- <input u-model="a.b.c"/> <input u-model="a.b.c" /> -->
	<div id="root"><input u-model="a" :id="a" /><input u-model="b" /><input u-model="c" /></div>
</body>

</html>
