<!DOCTYPE html>
<html>

<head>
    <title>Todo</title>
    <meta charset="utf-8">
</head>

<body>
    <div id="root">
        <input v-model="a" :id="id" />123
        <button @click="fn"></button>
    </div>
</body>

</html>