<!DOCTYPE html>
<html>

<head>
	<title>Todo</title>
	<meta charset="utf-8">
</head>

<body>
	<div id="root">
		<input u-model="a" />
		<input u-model="b" />
		<input u-model="c" />
		<input u-model="d" />
		<input u-model="e" />
		<hr>
		<input u-model="f" />
		<button @click="fn">点击</button>
	</div>
</body>

</html>
