<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>vue</title>
</head>

<body>
	<div id="box">
		<h2>show</h2>
		<span v-show="msg>0">1111</span>
        <h2>model</h2>
		<input type="text" v-model="msg">
		<input type="text" v-model="msg=='abc'?'ss':b">
	</div>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script>
		new Vue({
			el: "#box",
			data() {
				return {
					msg:'abc',
					a: 's',
					b: 'd',
					show: true
				}
			}
		})

	</script>
</body>

</html>
